html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: white;
}
.ajbody {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: white;
}
body h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: 'Asap', sans-serif;
}

.paddingA 
{
  padding:60px 0px 60px 0px;
}
.footer {
  background: white;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 650px;
  padding: 2em 0 0em 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: white;
}

.service-head h4 {
  font-family: 'Asap', sans-serif;
  font-size: 1.2em;
  color: #fff;
  background: #039ee3;
  display: inline-block;
  padding: .5em 1.5em;
  position: relative;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-head h4:before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -9px;
  left: 12px;
  border-style: solid;
  border-width: 14px 11px 0 12px;
  border-color: #039ee3 transparent transparent transparent;
}
.service-head h3 {
  color: #1b242f;
  font-size: 40px;
  font-weight: 550;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0 0 0.2em 0;
}

.service-head h3 span {
  font-weight: 700;
  font-family: 'Asap', sans-serif;
  color: #FF3F78;
}

.service-head.one h3 {
  color: #535353;
}

.textcenter
  {
  	text-align: center;
  }

.mail_us {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.mail_left img {
  width: 100%;
}


.contact-grid1-left {
  width: 100%;
}

.contact-grid1-left2
{ background: white;
  height:100px;
  width:400px;
  text-align:left;
  margin: auto;
  
}
.contact-grid1-left1 {
  padding: 1.4em;
  border-bottom: 1px ridge rgb(214, 212, 212);
  background: white;
  text-align: center;
}

.contact-grid1-left1 span {
  font-size: 1.5em;
  color: black;
}

.contact-grid1-left1 ul {
  padding: 0;
}

.contact-grid1-left1 ul li {
  list-style-type: none;
  margin-bottom: 1em;
  font-size: 14px;
  color: #999;
}

.contact-grid1-left1 a:hover {
  color: #999;
}

.contact-grid1-left1 a {
  font-size: 14px;
  color: #337ab7;
  text-decoration: none;
}

.mail_right input,
.mail_right textarea {
  background: none;
  width: 100%;
  color: #777;
  padding: 10px 10px;
  margin-bottom: 10px;
  outline: none;
  border: 2px solid #535353;
  font-family: 'Asap', sans-serif;
}

.mail_right textarea {
  height: 200px;
  resize: none;
}

.mail_right input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #666;
  font-size: 16px;
  padding: 13px 40px;
}

.mail_right input[type="submit"]:hover {
  background: #039ee3;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  color: #fff;
}

.contact iframe {
  width: 100%;
  height: 400px;
  outline: none;
}

.mail_right {
  background: white;
  padding: 2em;
}

.mail_left {
    padding: 1.2em;
    background: white;
    font-family: 'Asap', sans-serif;
}


.paddingA 
{
  padding:60px 0px 60px 0px;
}
.gray-bg 
{
  background: white !important;
}
.about-title h1 
{
  color: #535353; 
  font-size:45px;
  font-weight:600;
}
.about-title span 
{
  color: #FF3F78; 
  font-size:45px;
  font-weight:700;
}
.about-title h3 
{color: #535353; 
  font-size:23px;
  margin-bottom:24px;
}
.about-title p 
{
  color: #3c3c3c;
  font-size:18px;
  line-height: 1.8;
  margin: 0 0 15px;
}
.about-paddingB 
{
  padding-bottom: 12px;
}
.about-img 
{
  padding: 20px;
  margin-left: 40px;
}

.about-icons 
{
  margin:48px 0px 48px 0px ;
  padding: 10px;
}
.about-icons i
{
  margin-right: 10px;
  padding: 0px; 
  font-size:35px;
  color:#323232;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
.about-icons li 
{
  margin:0px;
  padding:0;
  display:inline-block;
}
#social-fb:hover 
{
  color: #3B5998;
  transition:all .001s;
}
 #social-tw:hover 
 {
  color: #4099FF;
  transition:all .001s;
}
 #social-gp:hover 
 {
  color: #d34836;
  transition:all .001s;
}
 #social-em:hover 
 {
  color: #f39c12;
  transition:all .001s;
}

.icon
{
  padding: 5px;
}


.home-section {
  position: relative;
   background: white; }
  .home-section > .container {
    z-index: 2;
    position: relative; }
 
    @media (max-width: 991.98px) {
      .home-section h1 {
        font-size: 2rem; } }
  .home-section p {
    font-size: 1.5rem;
    color:  #535353 }
  .home-section .search-jobs-form .form-control, .home-section .search-jobs-form .btn-lg {
    height: calc(2em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem; }
  .home-section .search-jobs-form .btn-search > span {
    font-size: 1rem;
    position: relative; }
  .home-section .search-jobs-form .dropdown-menu {
    position: relative;
    z-index: 4;
    -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4); }
  .home-section .search-jobs-form .filter-option:after {
    border: none;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon'; }
  .home-section .search-jobs-form .filter-option.dropup {
    border: 1px solid red !important; }
    .home-section .search-jobs-form .filter-option.dropup:after {
      display: none; }
  .home-section .search-jobs-form .dropup .dropdown-toggle:after, .home-section .search-jobs-form .dropup .filter-option:after {
    border: none;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%); }
  .home-section .search-jobs-form .dropup .filter-option:after {
    display: none !important; }
  .home-section .search-jobs-form .btn-white {
    background: #fff;
    color: #343a40; }
    .home-section .search-jobs-form .btn-white:hover, .home-section .search-jobs-form .btn-white:active, .home-section .search-jobs-form .btn-white:focus {
      outline: none !important; }
  .home-section .search-jobs-form .form-control {
    background: #fff;
    border: transparent !important;
    color: #343a40; }
    .home-section .search-jobs-form .form-control:active, .home-section .search-jobs-form .form-control:focus {
      color: #343a40; }
    .home-section .search-jobs-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(52, 58, 64, 0.5); }
    .home-section .search-jobs-form .form-control::-moz-placeholder {
      color: rgba(52, 58, 64, 0.5); }
    .home-section .search-jobs-form .form-control:-ms-input-placeholder {
      color: rgba(52, 58, 64, 0.5); }
    .home-section .search-jobs-form .form-control:-moz-placeholder {
      color: rgba(52, 58, 64, 0.5); }
  .home-section .search-jobs-form .bs-searchbox .form-control {
    height: calc(1em + 1rem + 2px);
    padding: 0.5rem .5rem;
    margin-bottom: .3rem;
    color: #343a40;
    background: #fff;
    border: 1px solid #eee !important; }
  .home-section .search-jobs-form .dropdown-item.active {
    -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4); }
  .home-section .scroll-button {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2); }
    .home-section .scroll-button > span {
      color: #000;
      position: absolute;
      font-size: 2rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }


.section-hero, .section-hero > .container > .row {
  height: 100vh;
  min-height: 900px; 
 background: white;}

.section-hero.inner-page, .section-hero.inner-page > .container > .row {
  height: auto;
  min-height: auto;
  padding-top: 6em;
  padding-bottom: 3em; }

.section-hero.overlay, .section-hero.overlay-2 {
  position: relative;
  background: white;  }
  .section-hero.overlay:before, .section-hero.overlay-2:before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;  }

.section-hero.overlay-2:before {
  background: white; }

.section-hero > .container {
  z-index: 2;
  position: relative; }


 ul.social_icons li {
  display: inline;
}

 ul.social_icons li a {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 30px;
  border-radius: 100%;
  color: #666;
}
 
 ul.social_icons {
  float: left;
  margin-top: 10px;
}

ul.social_icons li a:hover
{
  color: #039ee3;
}
